body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
  }

  .docenas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .docena-title {
    font-size: 20px;
    font-weight: bold;
  }

  .opcion {
    display: flex;
    align-items: center;
  }

  .opcion-label {
    margin-left: 10px;
  }

  .apuesta-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }

  .apuesta-button:hover {
    background-color: #45a049;
  }